<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drbt.holyquran">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".suras.fatiha" />
        <activity android:name=".suraList" />
        <activity android:name=".aboutUs" />
        <activity android:name=".rateApp" />
        <activity android:name=".suras.bakarah" />
        <activity android:name=".suras.imran" />
        <activity android:name=".suras.nisa" />
        <activity android:name=".suras.maidah" />
        <activity android:name=".suras.anaam" />
        <activity android:name=".suras.aaraf" />
        <activity android:name=".suras.anfal" />
        <activity android:name=".suras.aanfal" />
        <activity android:name=".suras.taubah" />
        <activity android:name=".suras.yunus" />
        <activity android:name=".suras.hud" />
        <activity android:name=".suras.yusuf" />
        <activity android:name=".suras.raad" />
        <activity android:name=".suras.ibrahim" />
        <activity android:name=".suras.hijr" />
        <activity android:name=".suras.nahl" />
        <activity android:name=".suras.isra" />
        <activity android:name=".suras.kahf" />
        <activity android:name=".suras.maryam" />
        <activity android:name=".suras.taha" />
        <activity android:name=".suras.anbiya" />
        <activity android:name=".suras.hajj" />
        <activity android:name=".suras.muminoon" />
        <activity android:name=".suras.noor" />
        <activity android:name=".suras.furqan" />
        <activity android:name=".suras.shuara" />
        <activity android:name=".suras.naml" />
        <activity android:name=".suras.qasas" />
        <activity android:name=".suras.anqabut" />
        <activity android:name=".suras.room" />
        <activity android:name=".suras.luqman" />
        <activity android:name=".suras.sajdah" />
        <activity android:name=".suras.ahzab" />
        <activity android:name=".suras.saba" />
        <activity android:name=".suras.fatir" />
        <activity android:name=".suras.seen" />
        <activity android:name=".suras.saaffat" />
        <activity android:name=".suras.sad" />
        <activity android:name=".suras.zumar" />
        <activity android:name=".suras.ghafir" />
        <activity android:name=".suras.fussilat" />
        <activity android:name=".suras.shura" />
        <activity android:name=".suras.zukhuruf" />
        <activity android:name=".suras.dukhan" />
        <activity android:name=".suras.jathiya" />
        <activity android:name=".suras.ahqaf" />
        <activity android:name=".suras.muhammad" />
        <activity android:name=".suras.fath" />
        <activity android:name=".suras.hujurat" />
        <activity android:name=".suras.qaf" />
        <activity android:name=".suras.dhariyat" />
        <activity android:name=".suras.tur" />
        <activity android:name=".suras.najm" />
        <activity android:name=".suras.qamar" />
        <activity android:name=".suras.rahman" />
        <activity android:name=".suras.waqiah" />
        <activity android:name=".suras.hadid" />
        <activity android:name=".suras.mujadilah" />
        <activity android:name=".suras.hashr" />
        <activity android:name=".suras.mumtahanah" />
        <activity android:name=".suras.saff" />
        <activity android:name=".suras.jumuah" />
        <activity android:name=".suras.munafiqoon" />
        <activity android:name=".suras.taghabun" />
        <activity android:name=".suras.talaq" />
        <activity android:name=".suras.tahrim" />
        <activity android:name=".suras.mulk" />
        <activity android:name=".suras.qalam" />
        <activity android:name=".suras.haaqqah" />
        <activity android:name=".suras.maaarij" />
        <activity android:name=".suras.nooh" />
        <activity android:name=".suras.jinn" />
        <activity android:name=".suras.muzzammil" />
        <activity android:name=".suras.muddaththir" />
        <activity android:name=".suras.qiyamah" />
        <activity android:name=".suras.insan" />
        <activity android:name=".suras.mursalat" />
        <activity android:name=".suras.naba" />
        <activity android:name=".suras.naziaat" />
        <activity android:name=".suras.abasa" />
        <activity android:name=".suras.takwir" />
        <activity android:name=".suras.infitar" />
        <activity android:name=".suras.mutaffifin" />
        <activity android:name=".suras.inshiqaq" />
        <activity android:name=".suras.tariq" />
        <activity android:name=".suras.aala" />
        <activity android:name=".suras.ghashiya" />
        <activity android:name=".suras.fajr" />
        <activity android:name=".suras.balad" />
        <activity android:name=".suras.shams" />
        <activity android:name=".suras.layl" />
        <activity android:name=".suras.dhuha" />
        <activity android:name=".suras.sharh" />
        <activity android:name=".suras.tin" />
        <activity android:name=".suras.aalaq" />
        <activity android:name=".suras.qadr" />
        <activity android:name=".suras.bayyinah" />
        <activity android:name=".suras.zalzalah" />
        <activity android:name=".suras.aadiyat" />
        <activity android:name=".suras.qariah" />
        <activity android:name=".suras.takathur" />
        <activity android:name=".suras.asr" />
        <activity android:name=".suras.fil" />
        <activity android:name=".suras.burooj" />
        <activity android:name=".suras.humazah" />
        <activity android:name=".suras.quraish" />
        <activity android:name=".suras.maaun" />
        <activity android:name=".suras.kauther" />
        <activity android:name=".suras.kafiroon" />
        <activity android:name=".suras.nasr" />
        <activity android:name=".suras.masad" />
        <activity android:name=".suras.ikhlas" />
        <activity android:name=".suras.falaq" />
        <activity android:name=".suras.nas"></activity>
    </application>

</manifest>
